body {
    font-family: sans-serif;
    color: white;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    gap: .5rem;
    max-inline-size: 1024px; /*el ancho de la pagina o coom si fuera un wrapper*/
    margin: auto;
    
}

.item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;

}
img{
    inline-size: 100%;
    object-fit: cover;
    flex: 1;
    overflow: hidden;

}

.item.small{
    background-color: purple;
    grid-row-end: span 2;
}
.item.small:after {
    content: "small";

}
.item.medium{
    background-color: green;
    grid-row-end: span 3;
    
}
.item.medium:after {
    content: "medium";
    
}
.item.large{
    background-color: royalblue;
    grid-row-end: span 5;
    
}
.item.large:after {
    content: "large";
    
}